<p>The name of current tab is <%= current_tab %>.</p>
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="one_third first">
        <h2>About Maropost</h2>
        <div class="panorama">
          <%= image_tag("demo/maropost_logo.svg", size: "200x50", :alt => "rss feed") %>
        <blockquote>
          <p><span>&ldquo;</span> Maropost will be soon be introducing its latest offering – Maropost for Commerce. This new product will introduce the capability...</p>
        </blockquote>
          </section>
      <!-- ####################################################################################################### -->
      <section id="skillset" class="one_third">
        <h2> MAropost for commerce</h2>
        <p>Maropost will be soon be introducing its latest offering – Maropost for Commerce. This new product will introduce the capability to make all customer engagements transactional, increasing the conversions from marketing outreach to sale. We are excited to extend our offerings to help our customers grow their business.</p>

      </section>
      <!-- ####################################################################################################### -->
      <section id="team" class="one_third">

      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
