
<%= form_with scope: :contact, url: contact_path(@contact), method: :post, local: true do |form| %>

  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@contact.errors.count, "error") %> prohibited
        this contact from being saved:
      </h2>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true, type: 'text' %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, required: true,type:'email'%>
  </p>

  <p>
    <%= form.label :mobile_no %><br>
    <%= form.text_field :mobile_no,required: true,type: 'number' %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, required: true %>
  </p>

  <p>
    <%= form.submit %>
  </p>

  <iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="800"
    height="400"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBxhVTyhLStm2gAzQTuI6IzqptEYx8ooPQ&q=maropost">

<% end %>
