Welcome to maropost.com, <%= @contact.name %>
===========================
You have successfully signed up to maropost.com,
this is acknowledgement mail.

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!
