<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p> Random password for your account is: <b><%= @user.password %> </b></p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
