<%= image_tag(@image.image ,size: "300x400")%>

<%= form_with model: @image, remote: true do |form| %>
<p>
  <%= form.label :image_name %><br>
  <%= form.text_field :image_name %>
</p>

<p>
  <%= form.submit 'Submit', data: { disable_with: true }%>
</p>
<% end %>
