<h1>Gallery</h1>
<p id="image_count_label">Total Images Count</p>
<b><p id="image_count"></p></b>

<div class="spinner">Loading....</div>

<%= link_to 'New Image Upload', new_image_path %>
<br/>
<br/>
<%= form_for(:image, :url => {:action => 'upload'}) do |f| %>
   <div class="form-group">
      <%= f.label :file, "Upload CSV File" %>
      <%= f.file_field :file, class: 'form-control-file', required: true %>
   </div>
   <%= f.submit "Upload CSV" %>
<% end %>
<br/>
<br/>
<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Image URL</th>
    <th></th>
  </tr>

  <% @images.each do |image| %>
    <tr>
      <% cache image do %>
        <td><%= image.image_name %></td>
        <td><%= image_tag(image.image,size: "100x100") %></td>
        <td><%= image.image_url %></td>
        <td><%= link_to 'Show', image_path(image) %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
      <% end %>
    </tr>
  <% end %>

<%= paginate @images %>

</table>
<script type="text/javascript">
  $(document).ready(function() {
    $(".spinner").show();
    $("#image_count_label").css("color","yellow");

    $.ajax({
      type: "GET",
      url: "/image_count",
      success: function(data, textStatus, jqXHR){
        $("#image_count").html(data['count']);
        $(".spinner").hide();
        $("#image_count_label").css("color","green");
      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log(errorThrown);
        $(".spinner").hide();
      }
  })});
</script>
