<%= form_for(:image, :url => {:action => 'create'}, :html => {:multipart => true}) do |f| %>

<% if @image.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@image.errors.count, "error") %> prohibited
      this image from being uploaded:
    </h2>
    <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= f.label :image_name %><br>
  <%= f.text_field :image_name, required: true%>
</p>
  <%= f.file_field :image %>
  <%= f.submit "Upload" %>
<% end %>
