<%= tabs_tag open_tabs: { id: 'tabs', class: 'cool' } do |tab| %>
  <%= tab.aboutus    'About Us', aboutus_path %>
  <%= tab.contactus  'Contact Us', contactus_path %>
  <%= tab.gallery    'Gallery', images_path %>
  <%= link_to 'Forgot Password', new_user_password_path %>
  <%= link_to 'Change Password', users_password_changepassword_path %>
<% end %>
